---
interface Props {
    href?: string;
    type?: 'button' | 'submit';
    target?: '_blank' | '_self';
    class?: string;
    tabIndex?: string;
    isStatic?: boolean;
    ariaHidden?: boolean;
}

const {
    href,
    type,
    target = '_self',
    class: propsClass,
    tabIndex,
    isStatic = false,
    ariaHidden = false,
    ...rest
} = Astro.props;

const Tag = isStatic ? 'div' : href ? 'a' : 'button';
const computedRel = target === '_blank' ? 'noopener noreferrer' : undefined;
const computedHref = Tag === 'a' ? href : undefined;
const computedType = Tag === 'button' ? type || 'button' : undefined;
const computedTabIndex = tabIndex ?? undefined;
const computedTarget = Tag === 'a' ? target : undefined;
const computedAriaHidden = ariaHidden ? 'true' : undefined;
---

<Tag
    class:list={['c-button', propsClass]}
    href={computedHref}
    rel={computedRel}
    type={computedType}
    target={computedTarget}
    tabindex={computedTabIndex}
    aria-hidden={computedAriaHidden}
    {...rest}
>
    <span class="c-button_inner">
        <span class="c-button_label">
            <slot />
        </span>
        {Tag === 'a' && target === '_blank' && <span aria-hidden="true">&#x2197;</span>}
    </span>
</Tag>

<style>
    @import 'Button.css';
</style>
